*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background: white;
   display: inline-flex;
    justify-content: space-between;

    align-items: center;
    padding: 5px;
}
#nav-logo{
    width: 120px;
    margin-left: 50px;
}

a{
    text-decoration: none;
    color: rgb(62, 62, 123);
    padding: 10px;
    margin-left: 30px;
}

a:hover{
    background: white;
    color: rgb(83, 180, 83);
}

section {
   background-image: url(./assets/home01.jpg);
   background-image: size;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}

#header{
    font-size: 50px;
    color: white;
    padding: 30px;
}

#mission{
    font-size: 20px;
    color: rgb(36, 58, 229);
   padding: 30px;
   text-align: left;
}

.hero-image{
    margin-top: 30px;
    padding: 30px;
    width: 5px;
}